version: '3'

services:
  db:
    image: postgres
    ports:
      - "5432:5432"
    expose:
      - "5432"
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: root
      POSTGRES_DB: payment_system
    volumes:
      - ./migrations/init.sql:/docker-entrypoint-initdb.d/init.sql

  app:
    build: .
    ports:
      - "8080:8080"
    expose:
      - "8080"
    depends_on:
      - db
    environment:
      POSTGRESQL_URL: "host='db' port=5432 user='root' password='root' dbname='payment_system'"
